@media (max-width: 1199px) {

    .leftNav .navPanel,
    .accountMenu {
        display: none;
    }

    .hamburger {
        display: block !important;
    }
}

@media (min-width: 600px) and (max-width: 959px) {
    .divider {
        top: 37rem !important;
    }
}

@media (max-width: 959px) {
    .navWrapper {
        width: 100% !important;
    }

    li:has(.searchWrapper.desktop) {
        display: none;
    }

    li:has(.mobile) {
        display: block !important;
    }

    .product_content h3 {
        font-size: 2rem !important;
        width: 60% !important;
    }

    .footer_left .subtext {
        display: none !important;
    }

    .footerLinkList .header,
    .footerLinkList .footerLink a {
        font-size: 1.4rem !important;
    }

    .logo .v-image__image.v-image__image--contain {
        width: 11.6rem !important;
        height: 100%;
    }


    .divider {
        top: 53.7rem !important;
    }

    .footerRef {
        flex-direction: column;
        gap: 8px;
        align-items: center;
        text-align: center;
        padding: 0 20px !important;
        justify-content: center;
    }

    .imageLogo {
        display: none;
    }
}

@media (max-width: 500px) {
    .itemList {
        flex-direction: row !important;
        margin-bottom: 20px !important;
    }

    .itemList::after {
        display: none !important;
    }

    .logo .logoImg {
        width: 70%;
    }

    .divider {
        top: 58.7rem !important;
    }

    span:has(#mobile_days) {
        display: none;
    }
}